*{
	margin: 0;
	padding: 0;
	font-family: roboto,sens-serif;
}

html,body{
	background-color: #000;
	color: white;
	margin: 10px;
}

#Section{
	height: 90vh;
	width: 95vw;
	border: 2px solid yellow;
	padding-bottom: 15px;
}

#C1{
	height: 40%;
	width: 100%;
}

#C2{
	height: 20%;
	width: 100%;
}

#C3{
	height: 40%;
	width: 100%;
}

.Child{
	display: flex;
}

.Same{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

h1{
	font-size: 32px;
	color: red;
}

input{
	height: 50px;
	width: 30vw;
	border-radius: 10px;
	border: none;
	margin: 2px;
	padding: 10px;
	font-size: 20px;
}

button{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: none;
	margin: 0px 10px;
}

i{
	font-size: 42px;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

#Search i{
	font-size: 22px;
}

.font{
	font-size: 20px;
}

a{
	margin: 0px 10px;
}

.rectangle{
	height: 25%;
	border: 2px solid yellow;
	border-radius: 10px;
	width: 90%;
	margin: 5px 0px;
	font-size: 22px;
	cursor: pointer;
	padding-bottom: 15px;
	color: red;
}

.Tab{
	display: flex;
	flex-direction: column;
}

p{
	color: red;
}

::placeholder{
	color: red;
}

.wrapper i:hover{
  background-color: #00ff00;
}

.rectangle:hover{
	background-color: #12AD2B;
	color: #000;
}

a{
	text-decoration: none;
}

@media screen and (max-width: 500px){

	#Section{
		border: none;
	}

	.Child{
		display: flex;
		flex-direction: column;
	}

	.Same{
		height: all;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
		margin: 0px;
	}

	h1{
		font-size: 24px;
	}

	#C1{
		height: 30%;
		width: 100%;
	}

	#C2{
		height: 20%;
		width: 100%;
	}

	#C3{
		height: 50%;
		width: 100%;
	}

	#Search{
		display: inline-block;
	}

	.rectangle{
		margin: 1px 0px;
	}

	input{
		width: 70vw;
	}

}


@media screen and (min-width: 500px) and (max-width: 1000px){
	#C1{
		display: block;
	}

	#Animate{
		height: 50%;
	}

	#SocialMedia{
		height: 50%;
	}
}